
@font-face {
  font-family: 'FbReformaRegular';
  src: url('FbReformaRegular.eot?#iefix') format('embedded-opentype'),  url('FbReformaRegular.woff') format('woff'), url('FbReformaRegular.ttf')  format('truetype'), url('FbReformaRegular.svg#FbReformaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
