
@font-face {
  font-family: 'ReformaMedium';
  src: url('ReformaMedium.eot?#iefix') format('embedded-opentype'),  url('ReformaMedium.woff') format('woff'), url('ReformaMedium.ttf')  format('truetype'), url('ReformaMedium.svg#ReformaMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
