
@font-face {
  font-family: 'GveretLevinAlefAlefAlef-Regular';
  src: url('GveretLevinAlefAlefAlef-Regular.eot?#iefix') format('embedded-opentype'),  url('GveretLevinAlefAlefAlef-Regular.otf')  format('opentype'),
	     url('GveretLevinAlefAlefAlef-Regular.woff') format('woff'), url('GveretLevinAlefAlefAlef-Regular.ttf')  format('truetype'), url('GveretLevinAlefAlefAlef-Regular.svg#GveretLevinAlefAlefAlef-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
